/*GENERAL*/



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*HEADER*/


header {
    background-image: url('../images/fouras-header.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


nav ul {
    text-align: right;
}

.main-title {
    margin-top: 500px;
    font-weight: 700;
    color: #fff;
}








.jscolor1 {
    color: #fff;
}
.jscolor2 {
    color: #fff;
}
.jscolor3 {
    color: #fff;
}
.jscolor4 {
    color: #fff;
}


nav.scroll {
    background-color: rgba(255, 255, 255, 0.9);
}

.codinggo.scroll {
    color: #000;
}

.jscolorTitle.scroll{
    color: #000;
}

.jscolor1.scroll {
    color: #000;
}

.jscolor2.scroll {
    color: #000;
}

.jscolor3.scroll {
    color: #000;
}

.jscolor4.scroll {
    color: #000;
}
