/*GENERAL*/



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #485E75
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: 'Crimson Text', serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

/*==============================HEADER===============*/


header {
    background-image: url('../images/fouras-header.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/*Nav*/

nav {
    background-color: #1B1A40;
    transition: 2s;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    margin: auto;
}


.nav-item {
    margin-right: 20px;
    font-size: 1.2em;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
    margin: 0;
}

.nav-link:hover {
    background-color: #000;
    color: #fff;
}



/*Main title*/

.main-title {
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: -60px;
    font-size: 4.2em;
    letter-spacing: 4px;
}

.main-title span {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.coquillage {
    display: block;
    margin: 100px auto;
}

.link-tarifs {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: #81A5C7;
    width: 150px;
    text-align: center;
    color: #fff;
    transition: 1s;

}


.fa-arrow-circle-right {
    color: #fff;
}

.link-tarifs:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.2);
    transition: 1s;
    background-color: #43607A;
}

.link-discover {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
}

.link-discover i {
    font-size: 2em;
    opacity: 0.7;
}


/*==============================MAIN===============*/

/*intros*/

.intro p {
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    border-top: 1px solid rgba(45, 35, 92, 0.3);
    border-bottom: 1px solid rgba(45, 35, 92, 0.3);

}

/*presentation*/

#presentation {
    margin-top: 40px;
}

#presentation h2 { 
    font-size: 1.5em;
    font-weight: 300;
}

/*prestation*/

#prestations {
    margin-top: 60px;
    background-color: #81A5C7;
}

#prestations h2 {
    margin-top: 60px;
}


#prestations p {
    text-align: center;
    color: #fff;
    border-top: 1px solid rgba(45, 35, 92, 0.3);
    border-bottom: 1px solid rgba(45, 35, 92, 0.3);
    padding: 40px;
}

































/*JS scroll nav*/
nav.scroll {
    background-color: rgba(27,26,64,0.6);
    transition: 2s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.codinggo.scroll {
    color: #000;
}

.jscolorTitle.scroll{
    color: #000;
}

.jscolor1.scroll {
    color: #000;
}

.jscolor2.scroll {
    color: #000;
}

.jscolor3.scroll {
    color: #000;
}

.jscolor4.scroll {
    color: #000;
}
