/*GENERAL*/



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #485E75
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

/*==============================HEADER===============*/


header {
    background-image: url('../images/fouras-header.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/*Nav*/

nav {
    background-color: #fff;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    margin: auto;
}


.nav-item {
    margin-right: 20px;
    font-size: 1.2em;
}

.nav-link {
    color: #000;
    margin: 0;
}

.nav-link:hover {
    background-color: #000;
    color: #fff;
}



/*Main title*/

.main-title {
    margin-top: 500px;
    font-weight: 700;
    color: #fff;
}

.main-title span {
    font-size: 0.8em;
}










nav.scroll {
    background-color: rgba(163, 28, 28, 0.9);
}

.codinggo.scroll {
    color: #000;
}

.jscolorTitle.scroll{
    color: #000;
}

.jscolor1.scroll {
    color: #000;
}

.jscolor2.scroll {
    color: #000;
}

.jscolor3.scroll {
    color: #000;
}

.jscolor4.scroll {
    color: #000;
}
